.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pattern-bg {
  background-color: #00558c;
  background-image: linear-gradient(30deg, #00406a 12%, transparent 12.5%, transparent 87%, #00406a 87.5%, #00406a),
    linear-gradient(150deg, #00406a 12%, transparent 12.5%, transparent 87%, #00406a 87.5%, #00406a),
    linear-gradient(30deg, #00406a 12%, transparent 12.5%, transparent 87%, #00406a 87.5%, #00406a),
    linear-gradient(150deg, #00406a 12%, transparent 12.5%, transparent 87%, #00406a 87.5%, #00406a),
    linear-gradient(60deg, #004470 25%, transparent 25.5%, transparent 75%, #004470 75%, #004470),
    linear-gradient(60deg, #004470 25%, transparent 25.5%, transparent 75%, #004470 75%, #004470);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  opacity: 1;
}

body {
  min-height: 100vh;
}
